<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <% if logged_in? %>
      <%= current_user %>
       <%= button_to 'Log out', session_url, method: :delete %>
    <% else %>
       <%= link_to 'Log in', new_session_url %>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
